<div class="container">
	<div class="columns is-centered">
       <div class="column is-half">
       	    <h1 class="is-size-1">Register</h1>
			<%= form_for @user do |f| %>
			  <%= f.label :username, class: 'label' %>
			  <%= f.text_field :username, class: 'input' %>
			  <% if @user.errors.any? %>
			  	<%= f.label :password, class: 'label' %>
			  	<%= f.password_field :password, class: 'input is-danger' %>
			  	<p class="help is-danger">You must enter a password</p>
			  <% else %>
			  	<%= f.label :password, class: 'label' %>
			  	<%= f.password_field :password, class: 'input' %>
			  <% end %>
			  	<%= f.label :password_confirmation, class: 'label', value: "Confirm Password" %>
			  <%= f.password_field :password_confirmation, class: 'input' %>
			  <%= f.submit "Sign up", class: "button is-primary" %>
			<% end %>
		</div>
	</div>
</div>
