<div class="container">
	<div class="columns is-centered">
       <div class="column is-half">
			<h1 class="title"><%= @facility.name %></h1>
			<h2 class="subtitle"><%= @facility.address %></h2>
       	  	<%= @facility.map_link.html_safe %>
       	  	<hr>
			<h1 class="title">Services</h1>

			<div class="columns is-centered">
				<% @facility.services.each do |s| %>
					<div class="column">
						<p class="is-size-4"><%= s.description %></p>
						<p class="is-size-7"><%= s.hours %></p>
					</div>
				<% end %>
			</div>

			<hr>
			<h1 class="title">Comments</h1>

			<% if logged_in? %>
				<%= form_with url: '/comments', method: 'post' do |f| %>
				<article class="media">
				  <figure class="media-left">
				    <p class="image is-64x64">
				      <img src="https://bulma.io/images/placeholders/128x128.png">
				    </p>
				  </figure>
				  <div class="media-content">
				    <div class="field">
				      <p class="control">
				      	<%= f.text_area :description, class: "textarea", placeholder: "Post a comment..." %>
				        <!-- <textarea class="textarea" placeholder="Post a comment..."></textarea> -->
				      </p>
				    </div>
				    <nav class="level">
				      <div class="level-left">
				        <div class="level-item">
				        	<%= hidden_field(:facility, :id) %>
				        	<%= f.submit class: "button is-info", value: "Post Comment"%>
				          <!-- <a class="button is-info">Post Comment</a> -->
				        </div>
				      </div>
				    </nav>
				  </div>
				</article>

				<% end %>
			<% else %>
				<p class="is-size-5">You must be <%= link_to "logged in", "/sessions/new" %> to leave comments</p>
			<% end %>
			<br>

			<% @facility.comments.each do |comment| %>
				<article class="media">
				  <figure class="media-left">
				    <p class="image is-64x64">
				      <img src="https://bulma.io/images/placeholders/128x128.png">
				    </p>
				  </figure>
				  <div class="media-content">
				    <div class="content">
				      <p>
				        <strong><%= comment.user.username %></strong> <small>31m</small>
				        <br>
				        <%= comment.description %>
				        </p>
				    </div>
				    <nav class="level is-mobile">
				      <div class="level-left">
				        <a class="level-item">
				          <span class="icon is-small"><i class="fas fa-reply"></i></span>
				        </a>
				        <a class="level-item">
				          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
				        </a>
				        <a class="level-item">
				          <span class="icon is-small"><i class="fas fa-heart"></i></span>
				        </a>
				      </div>
				    </nav>
				  </div>
				  <% if comment.user == current_user %>
					  <div class="media-right">
					  	<%= form_with model: comment, method: 'delete' do |f| %>
					  		<%= hidden_field(:facility, :id) %>
					  		<%= f.submit class: "delete" %>
					  	<% end %>
					    <!-- <button class="delete"></button> -->
					  </div>
				  <% end %>
				</article>
			<% end %>
       </div>
   </div>
</div>


