<!DOCTYPE html>
<html>
  <head>
    <title>HelpFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= image_tag("Artboard 1.png",style: 'height:15%;width:auto;')%><br>
  <div class='left-sidebar'> </div>
    <%= yield %>

    
 
  </body>
</html>
